
.assess {
    width: 1264px;
    height: 70px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding-top: 0px;padding-right:  20px;
    padding-bottom:  0px;
    padding-left:  20px;
    gap: 24px;
    border:1px solid #DDE5EA;
    display: flex;
    justify-content: space-between;
  }
  .upperAssess {
    
  }
  .firstHead{
    font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  color:#1C4980
  }